# Ignore everything in root.
/*

# Except these config folders and files.
!/.gitignore
!/README.md
!/docker
!/data

# Ignore Drupal code and MySQL data folders.
/data/drupal
/data/mysql

# Allow user to customise docker-compose.yml and PHP config.
/docker/docker-compose.yml
/docker/.env

# User can put own server configs in /docker/config/ ignored by Git.
/docker/config

# Ignore default configs and config templates.
!/docker/config/default.php.ini
!/docker/config/mysqld.cnf
!/docker/config/phpfarm.conf

